numpy==1.22.3
pandas==1.4.2
matplotlib==3.5.1
requests==2.27.1
shutil==3.4.3
tqdm==4.62.3
concurrent.futures==1.10.0
itertools==7.10.0
monthdelta==2.1.0
datetime==4.3
json==2.2.1
subprocess==0.7.0
tempfile==0.8.1
csv==1.55
sys==3.10.0
date==3.0.0
dask==2023.0.2
xarray==0.20.2
